{% extends "master3.html" %}
{% block content %}
{% load static %}


<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Advertisement Details</h2>
    <table class="table table-dark table-borderless" id="advtable">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">PHOTO</th>
                <th scope="col">MAIN HEAD</th>
                <th scope="col">FIRST SUBHEAD</th>
                <th scope="col">SECOND SUBHEAD</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    })
    function fnloaddataemp() {
        console.log('why..!')
        $.ajax({
            url: '{% url "viewadvertice" %}',
            type: 'GET',
            success: function (response) {
                for (i = 0; i < response.shoad.length; i++) {
                    $('#advtable').append("<tr><td>" + response.shoad[i].id + "</td><td>" + response.shoad[i].photo + "</td><td>" + response.shoad[i].mainhead + "</td><td>" + response.shoad[i].fsubhead + "</td><td>" + response.shoad[i].ssubhead + "</td><td><button onclick='fnViewAdvertisement(" + response.shoad[i].id + ")' data-bs-toggle='modal' data-bs-target='#editadvertisement' style='background-color: dodgerblue; color: white; border-radius: 50px;'><i class='far fa-edit'></i></button></td></tr>")
                }
            }
        })
    }
    function fnViewAdvertisement(id) {
        $.ajax({
            url: '{% url "viewadverticement" %}',
            type: 'POST',
            data: {
                adv_id: id
            },
            success: function (response) {
                $('#mainhead').val(response.shobad[0].mainhead)
                $('#fsubhead').val(response.shobad[0].fsubhead)
                $('#ssubhead').val(response.shobad[0].ssubhead)
                $('#adid').val(response.shobad[0].id)
            }
        })
    }
    function fnsaveadverticement() {
        console.log()
        $.ajax({
            url: '{% url "saveadvertcementchange" %}',
            type: 'POST',
            data: {
                mainhead1: $('#mainhead').val(),
                fsubhead1: $('#fsubhead').val(),
                ssubhead1: $('#ssubhead').val(),
                aid: $('#adid').val()
            },
            success: function (response) {
                alert(response.msg)
            }
        })
    }
    function fndeleteadvertisement() {
        $.ajax({
            url: '{% url "deladvertisement" %}',
            type: 'POST',
            data: {
                adid11: $('#adid').val()
            },
            success: function (response) {
                alert(response.delmsg)
            }
        })
    }
</script>

<!-- Add Workshop -->

<div class="modal fade" id="editadvertisement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Edit Advertisement</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <center><img class="lginimg" src="{% static 'images/logo1.png' %}" alt="" width="160px"></center>
            <div class="modal-body p-4 pt-0">
                <form class="row g-2" enctype="multipart/form-data">
                    <div class="col-md-6" >
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control rounded-1" name="photo" id="photo" placeholder="PHOTO"
                                required />
                            <label for="floatingInput">PHOTO</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control rounded-4" id="mainhead" name="mainhead"
                                placeholder="MAIN HEAD" required />
                            <label for="floatingInput">MAIN HEAD</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control rounded-4" id="fsubhead" name="fsubhead"
                                placeholder="FIRST SUBHEAD" required />
                            <label for="floatingInput">FIRST SUBHEAD</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control rounded-4" id="ssubhead" name="ssubhead"
                                placeholder="SECOND SUBHEAD" required />
                            <label for="floatingInput">SECOND SUBHEAD</label>
                        </div>
                        <input type="text" id="adid" hidden>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input type="file" class="form-control rounded-4" id="cphoto" name="changephoto"
                                placeholder="CHANGE PHOTO" required />
                            <label for="floatingInput">CHANGE PHOTO</label>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <button class="w-50 mb-2 btn btn-lg rounded-pill fs-6 btn-sm    btn-success"
                            onclick="fnsaveadverticement()" type="button">
                            UPDATE
                        </button>
                        <button class="w-50 mb-2 btn btn-lg rounded-pill fs-6 btn-sm mx-3   btn-danger"
                            onclick="fndeleteadvertisement()" type="button">
                            DELETE
                        </button>
                        <hr class="my-4" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}