<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin log in</title>
</head>
<body style="background-color: rgb(226, 218, 218);">

    <h1 align="center" style="color: cornflowerblue;">Log In</h1>
    <br><br><br><br><br>
    <form action="" align="center">
        <input type="text" placeholder="User name" style="width: 300px; height: 50px;">
        <br><br><br>
        <input type="password" placeholder="password" style="width: 300px; height: 50px;">
        <br><br><br><br>
        <input type="submit" value="Log In" style="width: 100px; height: 30px; background-color: rgb(29, 199, 66); color: white;">
    </form>
</body>
</html>