{% extends "master2.html" %}
{% block content %}
{% load static %}


<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Feedback</h2>
  <table class="table table-dark table-borderless">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Car Name</th>
        <th scope="col">Modal Name</th>
        <th scope="col">Complaint</th>
        <th scope="col">Feedback</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Fayis</td>
        <td>Benz</td>
        <td>s-class</td>
        <td>Full service</td>
        <td>Make Premium</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Shabeeb</td>
        <td>Toyota</td>
        <td>Cupra</td>
        <td>Service</td>
        <td>Make Premium</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Niyaz</td>
        <td>Jaguar</td>
        <td>F-pace</td>
        <td>Service</td>
        <td>Make Premium</td>
      </tr>
    </tbody>
  </table>
</div>






{% endblock %}